{% extends 'translation/base_gujarati.html' %}
{% block title %}Home{% endblock %}

{% block style %}


{% endblock %}


{% block main_content %}
<!--<nav class="navbar navbar-dark bg-custom-2">-->
<!--        <a class="navbar-brand" href="#a">Easy Hindi Typing</a>-->
<!--    </nav>-->
<!--<br>-->
<!--    <nav class="navbar navbar-dark bg-custom-3">-->
<!--        <a class="navbar-brand" href="#a" style="color:black;">Hindi <span style='font-size:50px;'>&#8594;</span> हिन्दी</a>-->
<!--    </nav>-->

{% load static %}

<div id="grad2" style="text-align:center;"><p class="pgrad2">Indic Gujarati Typing</p></div>
<br>
<div id="grad3" style="text-align:center;"><a href="{% url 'hindi' %}" style="text-decoration:none;color:black;"><p class="pgrad3" style="margin-left:10%;">Hindi <span style='font-size:50px;'>&#8594;</span> हिन्दी</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="" style="text-decoration:none;color:black;">Gujarati <span style='font-size:50px;'>&#8594;</span> ગુજરાતી</a></p></div>

<div class="container">




    <div class="editor-toolbar">

        <span class="editor-methods" id="itaControl"><div><span class="ita-kd-inputtools-div"><div
                class="goog-container goog-container-vertical" tabindex="-1" style="user-select: none;"><a
                class="ita-kd-icon-button ita-kd-inputtool-icon ita-kd-small ita-kd-left ita-kd-selected" role="button"
                tabindex="0" aria-label="Turn off Input Method" aria-pressed="true" style="user-select: none;"><span
                class="ita-kd-img ita-kd-icon ita-kd-icon-span ita-icon-5" style="user-select: none;"></span></a><a
                class="ita-kd-icon-button ita-kd-dropdown ita-kd-right" role="button" tabindex="0" aria-haspopup="true"
                aria-label="Show the Input Tools menu" style="user-select: none;"><span
                class="ita-kd-img ita-kd-arrow ita-kd-icon-span"
                style="user-select: none;"></span></a></div></span></div></span>

        <div class="goog-inline-block goog-flat-menu-button goog-flag-menu-button-focus" id="editor-cp-button"
             tabindex="0">
            <div class="editor-cp-img"></div>
            <p style="margin-bottom:20px">&nbsp&nbsp&nbsp&nbsp &nbsp &nbspapp kaise hai? <span style='font-size:30px;'>&#8594;</span> એપ કૈસે હૈ?
                &nbsp &nbsp | &nbsp&nbsp Namaskar aap yaha par gujarati me likhiye <span
                        style='font-size:30px;'>&#8594;</span> નમસ્કાર આપ યહા પર ગુજરાતી મેં લિખિયે &nbsp&nbsp |
                &nbsp&nbsp Type below and convert text <span style='font-size:30px;'>&#8594;</span> ટીપે બેલૉ તો કન્વર્ટ ટેક્સ્ટ</p>
        </div>
    </div>

    <!--<textarea class="editor-box" id="demobox" dir="ltr"></textarea>-->
    <!--<form action="{% url 'http://127.0.0.1:8000" method="GET">-->
    <!--</form>-->
    <div class="container">
        <center>
<textarea id ="translation_area" placeholder="યાહા પ્રકાર કરે ... (e.g Aap kasai hai)" style="line-height: 1.5em; height: 300px ;font-family: Arial, Helvetica, sans-serif; font-size: 18px;"></textarea>
</center>

    </div>
    <div id="hindi_words_list" style="position:absolute">
        </div>

<!--    <div id="grad4" class="ex1" style="border:1px solid black">-->
<!--        <div>-->
<!--            <p class="trans-text" style="margin-top:30px;">Transliterate in bulk?</p>-->
<!--        </div>-->
<!--    <div class="file-input">-->
<!--    <input type="file" id="fileUpload" class="fileUpload">-->
<!--    <label for="fileUpload" style="bottom:140%;left:15%;">Select file</label>-->

<!--    </div>-->
<!--        <div style="position:absolute;">-->
<!--        <p id="filename" style="margin-left:560%;margin-top: -63%;"></p>-->
<!--            </div>-->
<!--        <button class="button-71" id="btnUpload" role="button" style="bottom:125%">Convert File</button>-->

<!--    </div>-->


</div>
<br>

<div id="flex" class="ex1">
<div class="flex-container" style=" background-image: linear-gradient(15deg, #55a7b9 0%, #80d0c7 100%);">
  <div class="left_col1" style="flex-basis:400px">Transliterate in bulk?</div>

    <div class="left_col" id='fileUploadDiv' style="flex-basis:200px;background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);cursor:pointer;"><input type="file" id="fileUploa" class="fileUpload">
    <label for="fileUploa" style="bottom:140%;left:15%;cursor:pointer;">Select file</label></div>
  <div class="left_col2" id="left_col2" style="flex-basis:200px;font-size:16px;background-color:#FFFFFF;color:black;">No File has Selected</div>
  <div class="left_col" id="btnUploa" style="flex-basis:200px;background-image: linear-gradient(15deg, #0078d0 0%, #0078d0 100%);cursor:pointer;">Convert File</div>

</div>
    </div>

<br>
<!--<input id="csrf-token" value="{% csrf_token %}">-->

<!--<div id="ll">-->
<!--    <center>-->
<!--        <input required type="file" id="fileUpload">-->
<!--        <button id="btnUpload" class="btn btn-primary">Upload Files</button>-->
<!--    </center>-->
<!--</div>-->

<center>
    <div id="lll" class="loader" style="display:none"></div>
</center>


<!-- <center>-->
<!--    <form action="{% url 'uploads' %}" onsubmit="submit_button()" method="POST" enctype="multipart/form-data">-->
<!--        <input required type="text" name="filename"  placeholder="enter your file name" >-->
<!--        <input required type="file" multiple name="uploadfiles" >-->
<!--        {% csrf_token %}-->
<!--        <button class="btn btn-primary" type="submit">Upload File</button>-->
<!--    </form>-->
<!-- </center>-->
<br>
<br>
<div class="container" style="border:1px solid black;width:30%;background-image: linear-gradient(15deg, #55a7b9 0%, #80d0c7 100%);">
    <center>
    <form action="{% url 'review' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    <h2 style="color:white">Give Reviews Below</h2>
  <div class="w-50 p-3" class="form-group">
    <label for="exampleInputEmail1">Rating</label>
    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Rating" name="rating">
    <small id="emailHelp" class="form-text text-muted">Give the rating here out of 10</small>
  </div>
  <div class="w-50 p-3" class="form-group">
    <label for="exampleInputPassword1">Comment</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Comment Here" name="comment">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
        </center>
    </div>


<!-- <center>-->
<!--    <form action="{% url 'review' %}" method="POST" enctype="multipart/form-data">-->
<!--        <input required type="number" name="rating"  placeholder="enter rating here" >-->
<!--        <input required type="text" name="comment" >-->
<!--        {% csrf_token %}-->
<!--        <button class="btn btn-primary" type="submit">Upload File</button>-->
<!--    </form>-->
<!-- </center>-->



<br><br><br>


<footer class="footer-section">
        <div class="container">
            <div class="footer-cta pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="cta-text">
                                <h4 style="color:#00CED1">Find us</h4>
                                <span>Jarvis Technology ,New Delhi</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-phone"></i>
                            <div class="cta-text">
                                <h4 style="color:#00CED1">Call us</h4>
                                <span>9876543210 0</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="far fa-envelope-open"></i>
                            <div class="cta-text">
                                <h4 style="color:#00CED1">Mail us</h4>
                                <span>contact@jarvis.consulting</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="https://jarvis.consulting/"><img src="{% static 'images/jarvis.jpeg' %}" class="img-fluid" alt="logo"></a>
                            </div>
                            <div class="footer-text">
                                <p>A leading technology and strategy consulting firm that formulates and implements data centric large scale political campaigns and government initiatives, working closely with major political parties and governments in India</p>
                            </div>
                            <div class="footer-social-icon">
                                <span  style="color:#00CED1">Follow us</span>
                                <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                                <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3 style="color:#00CED1">Useful Links</h3>
                            </div>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">about</a></li>
                                <li><a href="#">services</a></li>
                                <li><a href="#">portfolio</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Our Services</a></li>
                                <li><a href="#">Expert Team</a></li>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">Latest News</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3 style="color:#00CED1">Subscribe</h3>
                            </div>
                            <div class="footer-text mb-25">
                                <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                            </div>
                            <div class="subscribe-form">
                                <form action="#">
                                    <input type="text" placeholder="Email Address" style="color:black">
                                    <button style="height:55px;"><i class="fab fa-telegram-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2022, All Right Reserved </p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Terms</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Policy</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}







