{% extends 'translation/base.html' %}
{% block title %}Home{% endblock %}


{% block main_content %}
<div class="container">

    <div style="text-align:center">
        <div class="maia-aux">
            <h1>
                <a href="/">Transliteration</a>
            </h1>
        </div>
    </div>
    <div style="background: #325da7;
    background: -moz-linear-gradient(top,#4e78c2,#325da7);
    background: -webkit-linear-gradient(top,#4e78c2,#325da7);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#4e78c2),color-stop(1,#325da7));
    background: linear-gradient(top,#4e78c2,#325da7);
    color: #fff;
    padding: 0 15px;" class="maia-nav" id="maia-nav-x" role="navigation">
        <div class="maia-aux">
            <center>
                <ul>
                    <a href="/">
                        <li style="color:white">Home</li>
                    </a>
                    <span class="tab"></span>
                    <a href="/">
                        <li style="color:white">Try it out
                        </li>
                    </a>
                    <span class="tab"></span>
                    <a href="/">
                        <li style="color:white">On Translation
                        </li>
                    </a>
                    <span class="tab"></span>
                    <a href="/">
                        <li style="color:white">On Translation Services</li>
                    </a>
                </ul>
            </center>
        </div>
    </div>
    <br>
    <hr>
    <div class="editor-toolbar">
        <div class="editor-langs goog-inline-block goog-menu-button" id="gt-sl" tabindex="0" role="listbox"
            aria-expanded="false" aria-haspopup="true" style="user-select: none;" aria-activedescendant=":g3">
            <div class="goog-inline-block goog-menu-button-outer-box">
                <div class="goog-inline-block goog-menu-button-inner-box">
                    <div class="goog-inline-block goog-menu-button-caption" id=":g3" role="option" aria-selected="true"
                        aria-setsize="131" aria-posinset="44">
                        <center>English to Hindi Transliteration</center>
                    </div>
                    <div class="goog-inline-block goog-menu-button-dropdown">&nbsp;</div>
                </div>
            </div>
        </div>
        <span class="editor-methods" id="itaControl">
            <div><span class="ita-kd-inputtools-div">
                    <div class="goog-container goog-container-vertical" tabindex="-1" style="user-select: none;"><a
                            class="ita-kd-icon-button ita-kd-inputtool-icon ita-kd-small ita-kd-left ita-kd-selected"
                            role="button" tabindex="0" aria-label="Turn off Input Method" aria-pressed="true"
                            style="user-select: none;"><span class="ita-kd-img ita-kd-icon ita-kd-icon-span ita-icon-5"
                                style="user-select: none;"></span></a><a
                            class="ita-kd-icon-button ita-kd-dropdown ita-kd-right" role="button" tabindex="0"
                            aria-haspopup="true" aria-label="Show the Input Tools menu" style="user-select: none;"><span
                                class="ita-kd-img ita-kd-arrow ita-kd-icon-span" style="user-select: none;"></span></a>
                    </div>
                </span></div>
        </span>

        <div class="goog-inline-block goog-flat-menu-button goog-flag-menu-button-focus" id="editor-cp-button"
            tabindex="0">
            <div class="editor-cp-img"></div>
            <center>Write here</center>
        </div>
    </div>

    <!--<textarea class="editor-box" id="demobox" dir="ltr"></textarea>-->
    <!--<form action="{% url 'http://127.0.0.1:8000" method="GET">-->
    <!--</form>-->
    <div class="container">
        <center><textarea id="translation_area" placeholder="यहाँ टाइप करें ... (e.g Aap kasai hai)"
                style="line-height: 1.5em; font-family: Arial, Helvetica, sans-serif; font-size: 14px;"></textarea>
        </center>

        <div id="hindi_words_list" style="position:absolute"></div>

        <h1 id="head"></h1>
    </div>


</div>

<center>
    <form action="{% url 'uploads' %}" method="POST" enctype="multipart/form-data">
        <input type="text" name="filename" placeholder="enter your file name">
        <input type="file" multiple name="uploadfiles">
        {% csrf_token %}
        <button type="submit">Upload File</button>
    </form>
</center>

{% endblock %}